.main {
  height: 100vh;
  background-color: antiquewhite;
}

.hero {
  margin: auto;
  height: 70vh;
  min-height: 600px;
  display: grid;
  justify-content: center;
  grid-template-areas: 
  "name name"
  "time time"
  "location location"
  "description description"
  "rsvp_btn rsvp_btn"
  "photo_btn location_btn";
}

.name {
  grid-area: name;
  margin: auto;
}

.time {
  grid-area: time;
  margin: auto;
}

.location {
  grid-area: location;
  margin: auto;
}

.description {
  grid-area: description;
  margin: auto;
}

.rsvp_btn {
  grid-area: rsvp_btn;
  margin: auto;

}

.photo_btn {
  grid-area: photo_btn;
  margin: auto;
}

.direction_btn {
  grid-area: location_btn;
  margin: auto;
}