.common_bg{
    background: rgb(255,200,173);
    background: linear-gradient(169deg, rgba(255,200,173,1) 0%, rgba(179,240,252,1) 100%);
}

.logo {
    margin-top: 1rem;
    height: 4rem;
    width: auto;
}


.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0.5vw 2vw;
    font-family: 'Alkatra', cursive;
}

.cta_btn {
    font-family: 'Alkatra', cursive;
    font-size: 1.5rem;
    padding: 0.3rem 1.5rem;
    margin-top: 1.2rem ;
    margin-right: 1rem;
    background-color: #1688a3;
    color: white;
}

.cta_btn:hover{
    background-color:#116c82;
    color: #cccccc;
}

.gallery_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 1vw;
}

.gallery_small {
    padding: 0.5vw 0;
    width: 32vw;
    height: auto;
    object-fit: contain;
}

.expanded_view_container {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 2;
    background-color: rgba(0,0,0,1);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.expanded_view_image {
    height: 80vh;
    width: auto;
    padding-top: 10vh;
}

.expanded_view_image_landscape {
    display: block;
    max-width:100vw;
    max-height:60vw;
    width: auto;
    height: auto;
    margin: auto;
}

.expanded_view_back {
    position: absolute;
    left: 10vw;
    top: 50vh;
    z-index: 3;
    border-radius: 20px;
    background-color: lightgray;
}

.expanded_view_front {
    position: absolute;
    right: 10vw;
    top: 50vh;
    z-index: 3;
    border-radius: 20px;
    background-color: lightgray;
}

.expanded_view_close {
    position: absolute;
    right: 10vw;
    top: 5vh;
    z-index: 3;
}

.cld_img {
    height: 33vw;
    width: 33vw;
}